.lost-section{
	@include flex(column, center);
	@include size(100vw, 100vh);	
	@include background('404.gif');
	position: relative;	
	background-position: center;
	background-size: contain;
	background-color: #4acf96;
	text-align: center;	
	padding: 5%;
}

.lost-title, .lost-link{
	@include font(24px, #f0427d, $font-404);	
	position: absolute;
	display: block;
	top: 7vh;
	left: 0;
	right: 0;
	margin: 0 auto;	
	@include break(laptop-s){ font-size: 38px; }
}

.lost-link{	
	top: auto;	
	bottom: 7vh;	
	font-weight: bold;	
}

.lost-copyright{
	@include font(12px, $text-color-menu, $font-thin);
	position: absolute;
	bottom: 2vh;	
}