.home-section{
	@extend %section-main;
	position: relative;		
	padding: 0;	
	background-color: $theme-color-hover;
}

.home-grid{
	overflow: hidden;

	&__sizer, &__item{
		@include size(100%, 240px);	
		max-width: 405px;		
		@include break(405px){ @include size(50%, 200px); }
		@include break(405px){ @include size(50%, 240px); }
		@include break(811px){ @include size(33.33%, 270px); }
		@include break(1515px){ @include size(25%, 311px); }
	}

	&__item{	
		background-color: $theme-color-hover;

		@include hover{
			.home-grid__item-img{
				opacity: 0;
				transition: opacity .3s ease;
			}

			.home-grid__item-title,
			.home-grid__item-subtitle,
			.home-grid__item-arrow{
				opacity: 1;
				transition: opacity .3s ease;
			}
		}	
		
		/* additonal class for Modernizr object-fit fix for IE */
		&.home-grid__img-object-fit{
   			background-size: cover;
   			background-position: center center;

   			.home-grid__item-img{ 
   				opacity: 0;
   			}
  		}		
	}

	&__item-link{
		@include size(100%, 100%);
		@include flex(column, center);			
		overflow: hidden;

		*{ cursor: pointer; }
	}

	&__item-img{
		@include size(100%, 100%);
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		margin: auto;			
  		object-fit: cover;
		transition: opacity .3s ease;		
	}

	&__item-title{
		@include font(24px, #fff, $font-light);
		z-index: 1;
		opacity: 0;
		margin-bottom: 5px;
		transition: opacity .3s ease;
	}

	&__item-subtitle{
		@include font(12px, #fff, $font-light);
		position: relative;		
		z-index: 1;
		opacity: 0;
		margin-bottom: 40px;
		transition: opacity .3s ease;

		&:after{
			@include size(100%, 2px);
			position: absolute;
			content: '';			
			background-color: #fff;
			left: 0;
			bottom: -15px;
		}
	}

	&__item-arrow{
		@include flex(row, center);
		@include size(60px, 60px);			
		border: 2px solid #fff;
		border-radius: 50%;
		z-index: 1;		
		transition: opacity .3s ease;

		@include break-max(tablet-l){
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			margin: auto;
			opacity: .5;
		}

		@include break(tablet-l){ opacity: 0; }
	}

	&__item-icon{
		@include size(15px, 15px);
		fill: #fff;
	}
}