@font-face{
	font-family: Roboto-Thin;
    src: url(../fonts/Roboto-Thin.ttf);
}

@font-face{
	font-family: Roboto-Light;
    src: url(../fonts/Roboto-Light.ttf);
}

@font-face{
	font-family: Roboto-Italic;
    src: url(../fonts/Roboto-Italic.ttf);
}

@font-face{
	font-family: Roboto-Bold;
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face{
	font-family: Roboto-BoldItalic;
    src: url(../fonts/Roboto-BoldItalic.ttf);
}

@font-face{
	font-family: SohoGothicPro-Light;
    src: url(../fonts/SohoGothicPro-Light.otf);
}

@font-face{
	font-family: Georgia-Italic;
    src: url(../fonts/Georgia-Italic.ttf);
}

@font-face{
	font-family: Robotic-Handwritten;
    src: url(../fonts/Robotic-Handwritten.ttf);
}