/* colors */
$theme-color: #1ab5b3; 
$theme-color-menu: #27b2b0;
$theme-color-hover: #2db8b7;
$theme-color-info: #29b5b3;

$bg-color-outline: #b4b7b8;
$bg-color-border: #eaeaea;
$bg-color-dark: #242b2e;

$text-color-menu: #6b7072;
$text-color-light: #a3a3a3;
$text-color-dark: #848484;

$accent-color: #8dc63f;

/* fonts */
$font-thin: Roboto-Thin;
$font-light: Roboto-Light; 
$font-italic: Roboto-Italic;
$font-bold: Roboto-Bold;
$font-bolditalic: Roboto-BoldItalic;

$font-logo: SohoGothicPro-Light;
$font-quote: Georgia;
$font-404: Robotic-Handwritten;

/* additionals */
$img-path: '../img';