<section class="about-section js-section">
	
	<!-- About -->
	<div class="about-us">
		<img class="about-us__img" src="img/about/about-us.gif" alt="">		
		<h2 class="about-us__title">Who We Are</h2>
		<p class="about-us__text">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>
		<p class="about-us__text">Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</p>
	</div>
	
	<!-- Staff -->
	<div class="about-staff">
		<h2 class="about-staff__title">Our Staff</h2>
		<div class="about-staff__item">
			<img class="about-staff__item-img" src="img/about/about-img-1.gif" alt="">
			<span class="about-staff__item-name">John Smith</span>
			<span class="about-staff__item-position">Web Developer</span>
		</div>
		<div class="about-staff__item">
			<img class="about-staff__item-img" src="img/about/about-img-2.gif" alt="">
			<span class="about-staff__item-name">John Smith</span>
			<span class="about-staff__item-position">Web Developer</span>
		</div>
		<div class="about-staff__item">
			<img class="about-staff__item-img" src="img/about/about-img-3.gif" alt="">
			<span class="about-staff__item-name">John Smith</span>
			<span class="about-staff__item-position">Web Developer</span>
		</div>
		<div class="about-staff__item">
			<img class="about-staff__item-img" src="img/about/about-img-4.gif" alt="">
			<span class="about-staff__item-name">John Smith</span>
			<span class="about-staff__item-position">Web Developer</span>
		</div>
		<div class="about-staff__item">
			<img class="about-staff__item-img" src="img/about/about-img-5.gif" alt="">
			<span class="about-staff__item-name">John Smith</span>
			<span class="about-staff__item-position">Web Developer</span>
		</div>
		<div class="about-staff__item empty">
			<span class="about-staff__item-you">You</span>
		</div>
	</div>
	
	<!-- Skills -->
	<div class="about-skill">
		<h2 class="about-skill__title">Our Skills</h2>		
		<div class="about-skill__item">
			<span class="about-skill__item-name">Website Design</span>
			<span class="about-skill__item-number">89%</span>
			<span class="about-skill__item-line design"></span>			
		</div>
		<div class="about-skill__item">
			<span class="about-skill__item-name">Website Development</span>
			<span class="about-skill__item-number">97%</span>
			<span class="about-skill__item-line development"></span>			
		</div>
		<div class="about-skill__item">
			<span class="about-skill__item-name">Plugins</span>
			<span class="about-skill__item-number">85%</span>
			<span class="about-skill__item-line plugins"></span>			
		</div>
		<div class="about-skill__item">
			<span class="about-skill__item-name">Front-end</span>
			<span class="about-skill__item-number">75%</span>
			<span class="about-skill__item-line front-end"></span>			
		</div>
	</div>
	
	<!-- Testimonials -->
	<div class="about-testimonial">
		<h2 class="about-testimonial__title">Testimonials</h2>
		<div class="about-testimonial__item">
			<img class="about-testimonial__item-img" src="img/about/about-icon.png" alt="">
			<div class="about-testimonial__item-header">
				<span class="about-testimonial__item-title">Collis Ta’eed - CEO at Envato</span>
			</div>
			<p class="about-testimonial__item-text">Sollicitudin lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt.</p>
		</div>
	</div>
	
	<!-- Services -->
	<div class="about-service">
		<h2 class="about-service__title">Services</h2>
		<ul class="about-service__list">
			<li class="about-service__list-item">Web Design</li>
			<li class="about-service__list-item">Photography</li>
			<li class="about-service__list-item">Plugin Development</li>
			<li class="about-service__list-item">Front-end</li>
			<li class="about-service__list-item">Design from Scratch</li>
			<li class="about-service__list-item">Website Maintenance</li>
		</ul>
	</div>
</section>