<section class="home-section">
<!-- Importing menu section -->	
//= info_section.html

	<div class="home-grid js-home-grid">

		<!-- Masonry grid sizer -->	
		<div class="home-grid__sizer"></div>

		<!-- Item #1 -->
		<div class="home-grid__item photography">
			<a class="home-grid__item-link js-home-grid__item-link" href="#home-post-1">
				<img class="home-grid__item-img" src="img/home/home-img-1.jpg" alt="">
				<span class="home-grid__item-title">Cool App Design</span>
				<span class="home-grid__item-subtitle">development, mobile</span>		
				<span class="home-grid__item-arrow">
					<svg class="home-grid__item-icon">
    					<use xlink:href="svg/sprite.svg#arrow-right-icon"></use>
					</svg>
				</span>
			</a>			
		</div>

		<!-- Item #2 -->
		<div class="home-grid__item brochures illustration photography">
			<a class="home-grid__item-link js-home-grid__item-link" href="#home-post-2">
				<img class="home-grid__item-img" src="img/home/home-img-2.jpg" alt="">
				<span class="home-grid__item-title">Cool App Design</span>
				<span class="home-grid__item-subtitle">development, mobile</span>		
				<span class="home-grid__item-arrow">
					<svg class="home-grid__item-icon">
    					<use xlink:href="svg/sprite.svg#arrow-right-icon"></use>
					</svg>
				</span>
			</a>			
		</div>

		<!-- Item #3 -->
		<div class="home-grid__item web-design">
			<a class="home-grid__item-link js-home-grid__item-link" href="#home-post-3">
				<img class="home-grid__item-img" src="img/home/home-img-3.jpg" alt="">
				<span class="home-grid__item-title">Cool App Design</span>
				<span class="home-grid__item-subtitle">development, mobile</span>		
				<span class="home-grid__item-arrow">
					<svg class="home-grid__item-icon">
    					<use xlink:href="svg/sprite.svg#arrow-right-icon"></use>
					</svg>
				</span>
			</a>			
		</div>

		<!-- Item #4 -->
		<div class="home-grid__item wallpapers">
			<a class="home-grid__item-link js-home-grid__item-link" href="#home-post-4">
				<img class="home-grid__item-img" src="img/home/home-img-4.gif" alt="">
				<span class="home-grid__item-title">Cool App Design</span>
				<span class="home-grid__item-subtitle">development, mobile</span>		
				<span class="home-grid__item-arrow">
					<svg class="home-grid__item-icon">
    					<use xlink:href="svg/sprite.svg#arrow-right-icon"></use>
					</svg>
				</span>
			</a>			
		</div>

		<!-- Item #5 -->
		<div class="home-grid__item brochures illustration web-design">
			<a class="home-grid__item-link js-home-grid__item-link" href="#home-post-5">
				<img class="home-grid__item-img" src="img/home/home-img-5.jpg" alt="">
				<span class="home-grid__item-title">Cool App Design</span>
				<span class="home-grid__item-subtitle">development, mobile</span>		
				<span class="home-grid__item-arrow">
					<svg class="home-grid__item-icon">
    					<use xlink:href="svg/sprite.svg#arrow-right-icon"></use>
					</svg>
				</span>
			</a>			
		</div>

		<!-- Item #6 -->
		<div class="home-grid__item brochures">
			<a class="home-grid__item-link js-home-grid__item-link" href="#home-post-6">
				<img class="home-grid__item-img" src="img/home/home-img-6.jpg" alt="">
				<span class="home-grid__item-title">Cool App Design</span>
				<span class="home-grid__item-subtitle">development, mobile</span>		
				<span class="home-grid__item-arrow">
					<svg class="home-grid__item-icon">
    					<use xlink:href="svg/sprite.svg#arrow-right-icon"></use>
					</svg>
				</span>
			</a>			
		</div>

		<!-- Item #7 -->
		<div class="home-grid__item illustration">
			<a class="home-grid__item-link js-home-grid__item-link" href="#home-post-7">
				<img class="home-grid__item-img" src="img/home/home-img-7.jpg" alt="">
				<span class="home-grid__item-title">Cool App Design</span>
				<span class="home-grid__item-subtitle">development, mobile</span>		
				<span class="home-grid__item-arrow">
					<svg class="home-grid__item-icon">
    					<use xlink:href="svg/sprite.svg#arrow-right-icon"></use>
					</svg>
				</span>
			</a>			
		</div>

		<!-- Item #8 -->
		<div class="home-grid__item illustration">
			<a class="home-grid__item-link js-home-grid__item-link" href="#home-post-8">
				<img class="home-grid__item-img" src="img/home/home-img-8.png" alt="">
				<span class="home-grid__item-title">Cool App Design</span>
				<span class="home-grid__item-subtitle">development, mobile</span>		
				<span class="home-grid__item-arrow">
					<svg class="home-grid__item-icon">
    					<use xlink:href="svg/sprite.svg#arrow-right-icon"></use>
					</svg>
				</span>
			</a>			
		</div>

		<!-- Item #9 -->
		<div class="home-grid__item web-design">
			<a class="home-grid__item-link js-home-grid__item-link" href="#home-post-9">
				<img class="home-grid__item-img" src="img/home/home-img-9.jpg" alt="">
				<span class="home-grid__item-title">Cool App Design</span>
				<span class="home-grid__item-subtitle">development, mobile</span>		
				<span class="home-grid__item-arrow">
					<svg class="home-grid__item-icon">
    					<use xlink:href="svg/sprite.svg#arrow-right-icon"></use>
					</svg>
				</span>
			</a>			
		</div>

		<!-- Item #10 -->
		<div class="home-grid__item wallpapers">
			<a class="home-grid__item-link js-home-grid__item-link" href="#home-post-10">
				<img class="home-grid__item-img" src="img/home/home-img-10.jpg" alt="">
				<span class="home-grid__item-title">Cool App Design</span>
				<span class="home-grid__item-subtitle">development, mobile</span>		
				<span class="home-grid__item-arrow">
					<svg class="home-grid__item-icon">
    					<use xlink:href="svg/sprite.svg#arrow-right-icon"></use>
					</svg>
				</span>
			</a>			
		</div>

		<!-- Item #11 -->
		<div class="home-grid__item illustration photography">
			<a class="home-grid__item-link js-home-grid__item-link" href="#home-post-11">
				<img class="home-grid__item-img" src="img/home/home-img-11.jpg" alt="">
				<span class="home-grid__item-title">Cool App Design</span>
				<span class="home-grid__item-subtitle">development, mobile</span>		
				<span class="home-grid__item-arrow">
					<svg class="home-grid__item-icon">
    					<use xlink:href="svg/sprite.svg#arrow-right-icon"></use>
					</svg>
				</span>
			</a>			
		</div>

		<!-- Item #12 -->
		<div class="home-grid__item brochures">
			<a class="home-grid__item-link js-home-grid__item-link" href="#home-post-12">
				<img class="home-grid__item-img" src="img/home/home-img-12.jpg" alt="">
				<span class="home-grid__item-title">Cool App Design</span>
				<span class="home-grid__item-subtitle">development, mobile</span>		
				<span class="home-grid__item-arrow">
					<svg class="home-grid__item-icon">
    					<use xlink:href="svg/sprite.svg#arrow-right-icon"></use>
					</svg>
				</span>
			</a>			
		</div>

		<!-- Item #13 -->
		<div class="home-grid__item brochures web-design">
			<a class="home-grid__item-link js-home-grid__item-link" href="#home-post-13">
				<img class="home-grid__item-img" src="img/home/home-img-13.jpg" alt="">
				<span class="home-grid__item-title">Cool App Design</span>
				<span class="home-grid__item-subtitle">development, mobile</span>		
				<span class="home-grid__item-arrow">
					<svg class="home-grid__item-icon">
    					<use xlink:href="svg/sprite.svg#arrow-right-icon"></use>
					</svg>
				</span>
			</a>			
		</div>

		<!-- Item #14 -->
		<div class="home-grid__item illustration">
			<a class="home-grid__item-link js-home-grid__item-link" href="#home-post-14">
				<img class="home-grid__item-img" src="img/home/home-img-14.jpg" alt="">
				<span class="home-grid__item-title">Cool App Design</span>
				<span class="home-grid__item-subtitle">development, mobile</span>		
				<span class="home-grid__item-arrow">
					<svg class="home-grid__item-icon">
    					<use xlink:href="svg/sprite.svg#arrow-right-icon"></use>
					</svg>
				</span>
			</a>			
		</div>

		<!-- Item #15 -->
		<div class="home-grid__item web-design">
			<a class="home-grid__item-link js-home-grid__item-link" href="#home-post-15">
				<img class="home-grid__item-img" src="img/home/home-img-15.jpg" alt="">
				<span class="home-grid__item-title">Cool App Design</span>
				<span class="home-grid__item-subtitle">development, mobile</span>		
				<span class="home-grid__item-arrow">
					<svg class="home-grid__item-icon">
    					<use xlink:href="svg/sprite.svg#arrow-right-icon"></use>
					</svg>
				</span>
			</a>			
		</div>

		<!-- Item #16 -->
		<div class="home-grid__item wallpapers">
			<a class="home-grid__item-link js-home-grid__item-link" href="#home-post-16">
				<img class="home-grid__item-img" src="img/home/home-img-16.jpg" alt="">
				<span class="home-grid__item-title">Cool App Design</span>
				<span class="home-grid__item-subtitle">development, mobile</span>		
				<span class="home-grid__item-arrow">
					<svg class="home-grid__item-icon">
    					<use xlink:href="svg/sprite.svg#arrow-right-icon"></use>
					</svg>
				</span>
			</a>			
		</div>
		
		<!-- Ctlr+C - Ctrl+V to check reveal-on-scroll effect -->
		<!-- Item #1 -->
		<div class="home-grid__item">
			<a class="home-grid__item-link js-home-grid__item-link" href="#home-post-1">
				<img class="home-grid__item-img" src="img/home/home-img-1.jpg" alt="">
				<span class="home-grid__item-title">Cool App Design</span>
				<span class="home-grid__item-subtitle">development, mobile</span>
				<span class="home-grid__item-arrow">
					<svg class="home-grid__item-icon">
    					<use xlink:href="svg/sprite.svg#arrow-right-icon"></use>
					</svg>
				</span>
			</a>
		</div>

		<!-- Item #2 -->
		<div class="home-grid__item">
			<a class="home-grid__item-link js-home-grid__item-link" href="#home-post-2">
				<img class="home-grid__item-img" src="img/home/home-img-2.jpg" alt="">
				<span class="home-grid__item-title">Cool App Design</span>
				<span class="home-grid__item-subtitle">development, mobile</span>
				<span class="home-grid__item-arrow">
					<svg class="home-grid__item-icon">
    					<use xlink:href="svg/sprite.svg#arrow-right-icon"></use>
					</svg>
				</span>
			</a>
		</div>

		<!-- Item #3 -->
		<div class="home-grid__item">
			<a class="home-grid__item-link js-home-grid__item-link" href="#home-post-3">
				<img class="home-grid__item-img" src="img/home/home-img-3.jpg" alt="">
				<span class="home-grid__item-title">Cool App Design</span>
				<span class="home-grid__item-subtitle">development, mobile</span>
				<span class="home-grid__item-arrow">
					<svg class="home-grid__item-icon">
    					<use xlink:href="svg/sprite.svg#arrow-right-icon"></use>
					</svg>
				</span>
			</a>
		</div>

		<!-- Item #4 -->
		<div class="home-grid__item">
			<a class="home-grid__item-link js-home-grid__item-link" href="#home-post-4">
				<img class="home-grid__item-img" src="img/home/home-img-4.gif" alt="">
				<span class="home-grid__item-title">Cool App Design</span>
				<span class="home-grid__item-subtitle">development, mobile</span>
				<span class="home-grid__item-arrow">
					<svg class="home-grid__item-icon">
    					<use xlink:href="svg/sprite.svg#arrow-right-icon"></use>
					</svg>
				</span>
			</a>
		</div>

		<!-- Item #5 -->
		<div class="home-grid__item">
			<a class="home-grid__item-link js-home-grid__item-link" href="#home-post-5">
				<img class="home-grid__item-img" src="img/home/home-img-5.jpg" alt="">
				<span class="home-grid__item-title">Cool App Design</span>
				<span class="home-grid__item-subtitle">development, mobile</span>
				<span class="home-grid__item-arrow">
					<svg class="home-grid__item-icon">
    					<use xlink:href="svg/sprite.svg#arrow-right-icon"></use>
					</svg>
				</span>
			</a>
		</div>

		<!-- Item #6 -->
		<div class="home-grid__item">
			<a class="home-grid__item-link js-home-grid__item-link" href="#home-post-6">
				<img class="home-grid__item-img" src="img/home/home-img-6.jpg" alt="">
				<span class="home-grid__item-title">Cool App Design</span>
				<span class="home-grid__item-subtitle">development, mobile</span>
				<span class="home-grid__item-arrow">
					<svg class="home-grid__item-icon">
    					<use xlink:href="svg/sprite.svg#arrow-right-icon"></use>
					</svg>
				</span>
			</a>
		</div>

		<!-- Item #7 -->
		<div class="home-grid__item">
			<a class="home-grid__item-link js-home-grid__item-link" href="#home-post-7">
				<img class="home-grid__item-img" src="img/home/home-img-7.jpg" alt="">
				<span class="home-grid__item-title">Cool App Design</span>
				<span class="home-grid__item-subtitle">development, mobile</span>
				<span class="home-grid__item-arrow">
					<svg class="home-grid__item-icon">
    					<use xlink:href="svg/sprite.svg#arrow-right-icon"></use>
					</svg>
				</span>
			</a>
		</div>

		<!-- Item #8 -->
		<div class="home-grid__item">
			<a class="home-grid__item-link js-home-grid__item-link" href="#home-post-8">
				<img class="home-grid__item-img" src="img/home/home-img-8.png" alt="">
				<span class="home-grid__item-title">Cool App Design</span>
				<span class="home-grid__item-subtitle">development, mobile</span>
				<span class="home-grid__item-arrow">
					<svg class="home-grid__item-icon">
    					<use xlink:href="svg/sprite.svg#arrow-right-icon"></use>
					</svg>
				</span>
			</a>
		</div>

		<!-- Item #9 -->
		<div class="home-grid__item">
			<a class="home-grid__item-link js-home-grid__item-link" href="#home-post-9">
				<img class="home-grid__item-img" src="img/home/home-img-9.jpg" alt="">
				<span class="home-grid__item-title">Cool App Design</span>
				<span class="home-grid__item-subtitle">development, mobile</span>
				<span class="home-grid__item-arrow">
					<svg class="home-grid__item-icon">
    					<use xlink:href="svg/sprite.svg#arrow-right-icon"></use>
					</svg>
				</span>
			</a>
		</div>

		<!-- Item #10 -->
		<div class="home-grid__item">
			<a class="home-grid__item-link js-home-grid__item-link" href="#home-post-10">
				<img class="home-grid__item-img" src="img/home/home-img-10.jpg" alt="">
				<span class="home-grid__item-title">Cool App Design</span>
				<span class="home-grid__item-subtitle">development, mobile</span>
				<span class="home-grid__item-arrow">
					<svg class="home-grid__item-icon">
    					<use xlink:href="svg/sprite.svg#arrow-right-icon"></use>
					</svg>
				</span>
			</a>
		</div>

		<!-- Item #11 -->
		<div class="home-grid__item">
			<a class="home-grid__item-link js-home-grid__item-link" href="#home-post-11">
				<img class="home-grid__item-img" src="img/home/home-img-11.jpg" alt="">
				<span class="home-grid__item-title">Cool App Design</span>
				<span class="home-grid__item-subtitle">development, mobile</span>
				<span class="home-grid__item-arrow">
					<svg class="home-grid__item-icon">
    					<use xlink:href="svg/sprite.svg#arrow-right-icon"></use>
					</svg>
				</span>
			</a>
		</div>

		<!-- Item #12 -->
		<div class="home-grid__item">
			<a class="home-grid__item-link js-home-grid__item-link" href="#home-post-12">
				<img class="home-grid__item-img" src="img/home/home-img-12.jpg" alt="">
				<span class="home-grid__item-title">Cool App Design</span>
				<span class="home-grid__item-subtitle">development, mobile</span>
				<span class="home-grid__item-arrow">
					<svg class="home-grid__item-icon">
    					<use xlink:href="svg/sprite.svg#arrow-right-icon"></use>
					</svg>
				</span>
			</a>
		</div>

		<!-- Item #13 -->
		<div class="home-grid__item">
			<a class="home-grid__item-link js-home-grid__item-link" href="#home-post-13">
				<img class="home-grid__item-img" src="img/home/home-img-13.jpg" alt="">
				<span class="home-grid__item-title">Cool App Design</span>
				<span class="home-grid__item-subtitle">development, mobile</span>
				<span class="home-grid__item-arrow">
					<svg class="home-grid__item-icon">
    					<use xlink:href="svg/sprite.svg#arrow-right-icon"></use>
					</svg>
				</span>
			</a>
		</div>

		<!-- Item #14 -->
		<div class="home-grid__item">
			<a class="home-grid__item-link js-home-grid__item-link" href="#home-post-14">
				<img class="home-grid__item-img" src="img/home/home-img-14.jpg" alt="">
				<span class="home-grid__item-title">Cool App Design</span>
				<span class="home-grid__item-subtitle">development, mobile</span>
				<span class="home-grid__item-arrow">
					<svg class="home-grid__item-icon">
    					<use xlink:href="svg/sprite.svg#arrow-right-icon"></use>
					</svg>
				</span>
			</a>
		</div>

		<!-- Item #15 -->
		<div class="home-grid__item">
			<a class="home-grid__item-link js-home-grid__item-link" href="#home-post-15">
				<img class="home-grid__item-img" src="img/home/home-img-15.jpg" alt="">
				<span class="home-grid__item-title">Cool App Design</span>
				<span class="home-grid__item-subtitle">development, mobile</span>
				<span class="home-grid__item-arrow">
					<svg class="home-grid__item-icon">
    					<use xlink:href="svg/sprite.svg#arrow-right-icon"></use>
					</svg>
				</span>
			</a>
		</div>

		<!-- Item #16 -->
		<div class="home-grid__item">
			<a class="home-grid__item-link js-home-grid__item-link" href="#home-post-16">
				<img class="home-grid__item-img" src="img/home/home-img-16.jpg" alt="">
				<span class="home-grid__item-title">Cool App Design</span>
				<span class="home-grid__item-subtitle">development, mobile</span>
				<span class="home-grid__item-arrow">
					<svg class="home-grid__item-icon">
    					<use xlink:href="svg/sprite.svg#arrow-right-icon"></use>
					</svg>
				</span>
			</a>
		</div>

		<!-- Item #1 -->
		<div class="home-grid__item">
			<a class="home-grid__item-link js-home-grid__item-link" href="#home-post-1">
				<img class="home-grid__item-img" src="img/home/home-img-1.jpg" alt="">
				<span class="home-grid__item-title">Cool App Design</span>
				<span class="home-grid__item-subtitle">development, mobile</span>
				<span class="home-grid__item-arrow">
					<svg class="home-grid__item-icon">
    					<use xlink:href="svg/sprite.svg#arrow-right-icon"></use>
					</svg>
				</span>
			</a>
		</div>

		<!-- Item #2 -->
		<div class="home-grid__item">
			<a class="home-grid__item-link js-home-grid__item-link" href="#home-post-2">
				<img class="home-grid__item-img" src="img/home/home-img-2.jpg" alt="">
				<span class="home-grid__item-title">Cool App Design</span>
				<span class="home-grid__item-subtitle">development, mobile</span>
				<span class="home-grid__item-arrow">
					<svg class="home-grid__item-icon">
    					<use xlink:href="svg/sprite.svg#arrow-right-icon"></use>
					</svg>
				</span>
			</a>
		</div>

		<!-- Item #3 -->
		<div class="home-grid__item">
			<a class="home-grid__item-link js-home-grid__item-link" href="#home-post-3">
				<img class="home-grid__item-img" src="img/home/home-img-3.jpg" alt="">
				<span class="home-grid__item-title">Cool App Design</span>
				<span class="home-grid__item-subtitle">development, mobile</span>
				<span class="home-grid__item-arrow">
					<svg class="home-grid__item-icon">
    					<use xlink:href="svg/sprite.svg#arrow-right-icon"></use>
					</svg>
				</span>
			</a>
		</div>

		<!-- Item #4 -->
		<div class="home-grid__item">
			<a class="home-grid__item-link js-home-grid__item-link" href="#home-post-4">
				<img class="home-grid__item-img" src="img/home/home-img-4.gif" alt="">
				<span class="home-grid__item-title">Cool App Design</span>
				<span class="home-grid__item-subtitle">development, mobile</span>
				<span class="home-grid__item-arrow">
					<svg class="home-grid__item-icon">
    					<use xlink:href="svg/sprite.svg#arrow-right-icon"></use>
					</svg>
				</span>
			</a>
		</div>

		<!-- Item #5 -->
		<div class="home-grid__item">
			<a class="home-grid__item-link js-home-grid__item-link" href="#home-post-5">
				<img class="home-grid__item-img" src="img/home/home-img-5.jpg" alt="">
				<span class="home-grid__item-title">Cool App Design</span>
				<span class="home-grid__item-subtitle">development, mobile</span>
				<span class="home-grid__item-arrow">
					<svg class="home-grid__item-icon">
    					<use xlink:href="svg/sprite.svg#arrow-right-icon"></use>
					</svg>
				</span>
			</a>
		</div>

		<!-- Item #6 -->
		<div class="home-grid__item">
			<a class="home-grid__item-link js-home-grid__item-link" href="#home-post-6">
				<img class="home-grid__item-img" src="img/home/home-img-6.jpg" alt="">
				<span class="home-grid__item-title">Cool App Design</span>
				<span class="home-grid__item-subtitle">development, mobile</span>
				<span class="home-grid__item-arrow">
					<svg class="home-grid__item-icon">
    					<use xlink:href="svg/sprite.svg#arrow-right-icon"></use>
					</svg>
				</span>
			</a>
		</div>

		<!-- Item #7 -->
		<div class="home-grid__item">
			<a class="home-grid__item-link js-home-grid__item-link" href="#home-post-7">
				<img class="home-grid__item-img" src="img/home/home-img-7.jpg" alt="">
				<span class="home-grid__item-title">Cool App Design</span>
				<span class="home-grid__item-subtitle">development, mobile</span>
				<span class="home-grid__item-arrow">
					<svg class="home-grid__item-icon">
    					<use xlink:href="svg/sprite.svg#arrow-right-icon"></use>
					</svg>
				</span>
			</a>
		</div>

		<!-- Item #8 -->
		<div class="home-grid__item">
			<a class="home-grid__item-link js-home-grid__item-link" href="#home-post-8">
				<img class="home-grid__item-img" src="img/home/home-img-8.png" alt="">
				<span class="home-grid__item-title">Cool App Design</span>
				<span class="home-grid__item-subtitle">development, mobile</span>
				<span class="home-grid__item-arrow">
					<svg class="home-grid__item-icon">
    					<use xlink:href="svg/sprite.svg#arrow-right-icon"></use>
					</svg>
				</span>
			</a>
		</div>

		<!-- Item #9 -->
		<div class="home-grid__item">
			<a class="home-grid__item-link js-home-grid__item-link" href="#home-post-9">
				<img class="home-grid__item-img" src="img/home/home-img-9.jpg" alt="">
				<span class="home-grid__item-title">Cool App Design</span>
				<span class="home-grid__item-subtitle">development, mobile</span>
				<span class="home-grid__item-arrow">
					<svg class="home-grid__item-icon">
    					<use xlink:href="svg/sprite.svg#arrow-right-icon"></use>
					</svg>
				</span>
			</a>
		</div>

		<!-- Item #10 -->
		<div class="home-grid__item">
			<a class="home-grid__item-link js-home-grid__item-link" href="#home-post-10">
				<img class="home-grid__item-img" src="img/home/home-img-10.jpg" alt="">
				<span class="home-grid__item-title">Cool App Design</span>
				<span class="home-grid__item-subtitle">development, mobile</span>
				<span class="home-grid__item-arrow">
					<svg class="home-grid__item-icon">
    					<use xlink:href="svg/sprite.svg#arrow-right-icon"></use>
					</svg>
				</span>
			</a>
		</div>

		<!-- Item #11 -->
		<div class="home-grid__item">
			<a class="home-grid__item-link js-home-grid__item-link" href="#home-post-11">
				<img class="home-grid__item-img" src="img/home/home-img-11.jpg" alt="">
				<span class="home-grid__item-title">Cool App Design</span>
				<span class="home-grid__item-subtitle">development, mobile</span>
				<span class="home-grid__item-arrow">
					<svg class="home-grid__item-icon">
    					<use xlink:href="svg/sprite.svg#arrow-right-icon"></use>
					</svg>
				</span>
			</a>
		</div>

		<!-- Item #12 -->
		<div class="home-grid__item">
			<a class="home-grid__item-link js-home-grid__item-link" href="#home-post-12">
				<img class="home-grid__item-img" src="img/home/home-img-12.jpg" alt="">
				<span class="home-grid__item-title">Cool App Design</span>
				<span class="home-grid__item-subtitle">development, mobile</span>
				<span class="home-grid__item-arrow">
					<svg class="home-grid__item-icon">
    					<use xlink:href="svg/sprite.svg#arrow-right-icon"></use>
					</svg>
				</span>
			</a>
		</div>

		<!-- Item #13 -->
		<div class="home-grid__item">
			<a class="home-grid__item-link js-home-grid__item-link" href="#home-post-13">
				<img class="home-grid__item-img" src="img/home/home-img-13.jpg" alt="">
				<span class="home-grid__item-title">Cool App Design</span>
				<span class="home-grid__item-subtitle">development, mobile</span>
				<span class="home-grid__item-arrow">
					<svg class="home-grid__item-icon">
    					<use xlink:href="svg/sprite.svg#arrow-right-icon"></use>
					</svg>
				</span>
			</a>
		</div>

		<!-- Item #14 -->
		<div class="home-grid__item">
			<a class="home-grid__item-link js-home-grid__item-link" href="#home-post-14">
				<img class="home-grid__item-img" src="img/home/home-img-14.jpg" alt="">
				<span class="home-grid__item-title">Cool App Design</span>
				<span class="home-grid__item-subtitle">development, mobile</span>
				<span class="home-grid__item-arrow">
					<svg class="home-grid__item-icon">
    					<use xlink:href="svg/sprite.svg#arrow-right-icon"></use>
					</svg>
				</span>
			</a>
		</div>

		<!-- Item #15 -->
		<div class="home-grid__item">
			<a class="home-grid__item-link js-home-grid__item-link" href="#home-post-15">
				<img class="home-grid__item-img" src="img/home/home-img-15.jpg" alt="">
				<span class="home-grid__item-title">Cool App Design</span>
				<span class="home-grid__item-subtitle">development, mobile</span>
				<span class="home-grid__item-arrow">
					<svg class="home-grid__item-icon">
    					<use xlink:href="svg/sprite.svg#arrow-right-icon"></use>
					</svg>
				</span>
			</a>
		</div>

		<!-- Item #16 -->
		<div class="home-grid__item">
			<a class="home-grid__item-link js-home-grid__item-link" href="#home-post-16">
				<img class="home-grid__item-img" src="img/home/home-img-16.jpg" alt="">
				<span class="home-grid__item-title">Cool App Design</span>
				<span class="home-grid__item-subtitle">development, mobile</span>
				<span class="home-grid__item-arrow">
					<svg class="home-grid__item-icon">
    					<use xlink:href="svg/sprite.svg#arrow-right-icon"></use>
					</svg>
				</span>
			</a>
		</div>
	</div>	
</section>