<!-- Post #1 -->
<div class="home-post-wrapper"><!-- wrapper to hide popup for Fancybox -->
	<div class="home-post" id="home-post-1">
		<div class="home-post__content"><!-- additional div inside popup to make flex work -->
			<div class="home-post__img-wrapper">
				<img class="home-post__img" src="img/home/home-img-1-full.jpg" alt="">
			</div>			
			<div class="home-post__info">
				<h2 class="home-post__title">Lorem ipsum dolor sit amet</h2>
				<p class="home-post__text">Architecto autem nisi ipsam eos, recusandae, dolores minus quia iure est, quisquam dolore sequi illo nemo? Maiores distinctio corporis odio consequuntur expedita sapiente eligendi excepturi. Totam!</p>
				<p class="home-post__text">Facilis in, voluptates inventore veniam obcaecati omnis laudantium optio culpa doloribus, dignissimos quod, quos numquam voluptatibus? Et labore quasi reprehenderit sed nihil.</p>
				<ul class="home-post__links">
					<li><a class="home-post__link flickr" href="#"></a></li>			
					<li><a class="home-post__link dribbble" href="#"></a></li>
					<li><a class="home-post__link behance" href="#"></a></li>		
				</ul>
				<a class="home-post__comments" href="#">
					<svg class="home-post__icon">
    					<use xlink:href="svg/sprite.svg#comment-icon"></use>
					</svg>
					5 comments
				</a>
				<a class="home-post__date" href="#">
					<svg class="home-post__icon">
    					<use xlink:href="svg/sprite.svg#calendar-icon"></use>
					</svg>
					<time>Dec 19, 2013</time>
				</a>
			</div>
		</div>
	</div>
</div>

<!-- Post #2 -->
<div class="home-post-wrapper">
	<div class="home-post" id="home-post-2">
		<div class="home-post__content">
			<div class="home-post__img-wrapper">
				<img class="home-post__img" src="img/home/home-img-2-full.jpg" alt="">
			</div>			
			<div class="home-post__info">
				<h2 class="home-post__title">Lorem ipsum dolor</h2>
				<p class="home-post__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, a deleniti sequi, ipsum laboriosam placeat, eveniet esse earum accusantium fugiat vero provident animi hic est blanditiis, tenetur perspiciatis tempore.</p>				
				<ul class="home-post__links">
					<li><a class="home-post__link flickr" href="#"></a></li>			
					<li><a class="home-post__link dribbble" href="#"></a></li>
					<li><a class="home-post__link behance" href="#"></a></li>		
				</ul>
				<a class="home-post__comments" href="#">
					<svg class="home-post__icon">
    					<use xlink:href="svg/sprite.svg#comment-icon"></use>
					</svg>
					5 comments
				</a>
				<a class="home-post__date" href="#">
					<svg class="home-post__icon">
    					<use xlink:href="svg/sprite.svg#calendar-icon"></use>
					</svg>
					<time>Dec 19, 2013</time>
				</a>
			</div>
		</div>
	</div>
</div>

<!-- Post #3 -->
<div class="home-post-wrapper">
	<div class="home-post" id="home-post-3">
		<div class="home-post__content">
			<div class="home-post__img-wrapper">
				<img class="home-post__img" src="img/home/home-img-3-full.jpg" alt="">
			</div>			
			<div class="home-post__info">
				<h2 class="home-post__title">Harum, dolorum?</h2>
				<p class="home-post__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil aut quis dicta ea nemo doloribus dolorum tenetur odio. Totam sequi aliquam vero architecto, dicta maiores temporibus magnam nihil pariatur odit, impedit voluptate!</p>	
				<p class="home-post__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam quis unde iste debitis, ad odio ab velit.</p>			
				<ul class="home-post__links">
					<li><a class="home-post__link flickr" href="#"></a></li>			
					<li><a class="home-post__link dribbble" href="#"></a></li>
					<li><a class="home-post__link behance" href="#"></a></li>		
				</ul>
				<a class="home-post__comments" href="#">
					<svg class="home-post__icon">
    					<use xlink:href="svg/sprite.svg#comment-icon"></use>
					</svg>
					5 comments
				</a>
				<a class="home-post__date" href="#">
					<svg class="home-post__icon">
    					<use xlink:href="svg/sprite.svg#calendar-icon"></use>
					</svg>
					<time>Dec 19, 2013</time>
				</a>
			</div>
		</div>
	</div>
</div>

<!-- Post #4 -->
<div class="home-post-wrapper">
	<div class="home-post" id="home-post-4">
		<div class="home-post__content">
			<div class="home-post__img-wrapper">
				<img class="home-post__img" src="img/home/home-img-4-full.gif" alt="">
			</div>			
			<div class="home-post__info">
				<h2 class="home-post__title">Lorem ipsum dolor sit amet, consectetur adipisicing</h2>
				<p class="home-post__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit vel odio, omnis deserunt. Sint suscipit reprehenderit explicabo. Excepturi autem quia, impedit iste ipsum nisi.</p>			
				<ul class="home-post__links">
					<li><a class="home-post__link flickr" href="#"></a></li>			
					<li><a class="home-post__link dribbble" href="#"></a></li>
					<li><a class="home-post__link behance" href="#"></a></li>		
				</ul>
				<a class="home-post__comments" href="#">
					<svg class="home-post__icon">
    					<use xlink:href="svg/sprite.svg#comment-icon"></use>
					</svg>
					5 comments
				</a>
				<a class="home-post__date" href="#">
					<svg class="home-post__icon">
    					<use xlink:href="svg/sprite.svg#calendar-icon"></use>
					</svg>
					<time>Dec 19, 2013</time>
				</a>
			</div>
		</div>
	</div>
</div>

<!-- Post #5 -->
<div class="home-post-wrapper">
	<div class="home-post" id="home-post-5">
		<div class="home-post__content">
			<div class="home-post__img-wrapper">
				<img class="home-post__img" src="img/home/home-img-5-full.jpg" alt="">
			</div>			
			<div class="home-post__info">
				<h2 class="home-post__title">Odit fuga repellat ab rem</h2>
				<p class="home-post__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit fuga repellat ab rem consequuntur earum illum, impedit.</p>
				<p class="home-post__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed dolorem nihil cum, omnis numquam optio temporibus molestiae libero voluptatem! Ipsa.</p>
				<p class="home-post__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius sed eaque voluptates dolorum consequatur. Lorem ipsum dolor sit amet, consectetur.</p>				
				<ul class="home-post__links">
					<li><a class="home-post__link flickr" href="#"></a></li>			
					<li><a class="home-post__link dribbble" href="#"></a></li>
					<li><a class="home-post__link behance" href="#"></a></li>		
				</ul>
				<a class="home-post__comments" href="#">
					<svg class="home-post__icon">
    					<use xlink:href="svg/sprite.svg#comment-icon"></use>
					</svg>
					5 comments
				</a>
				<a class="home-post__date" href="#">
					<svg class="home-post__icon">
    					<use xlink:href="svg/sprite.svg#calendar-icon"></use>
					</svg>
					<time>Dec 19, 2013</time>
				</a>
			</div>
		</div>
	</div>
</div>

<!-- Post #6 -->
<div class="home-post-wrapper">
	<div class="home-post" id="home-post-6">
		<div class="home-post__content">
			<div class="home-post__img-wrapper">
				<img class="home-post__img" src="img/home/home-img-6-full.jpg" alt="">
			</div>			
			<div class="home-post__info">
				<h2 class="home-post__title">Lorem ipsum dolor</h2>
				<p class="home-post__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem sapiente ex praesentium minus doloribus soluta, totam officia veritatis rem.</p>				
				<ul class="home-post__links">
					<li><a class="home-post__link flickr" href="#"></a></li>			
					<li><a class="home-post__link dribbble" href="#"></a></li>
					<li><a class="home-post__link behance" href="#"></a></li>		
				</ul>
				<a class="home-post__comments" href="#">
					<svg class="home-post__icon">
    					<use xlink:href="svg/sprite.svg#comment-icon"></use>
					</svg>
					5 comments
				</a>
				<a class="home-post__date" href="#">
					<svg class="home-post__icon">
    					<use xlink:href="svg/sprite.svg#calendar-icon"></use>
					</svg>
					<time>Dec 19, 2013</time>
				</a>
			</div>
		</div>
	</div>
</div>

<!-- Post #7 -->
<div class="home-post-wrapper">
	<div class="home-post" id="home-post-7">
		<div class="home-post__content">
			<div class="home-post__img-wrapper">
				<img class="home-post__img" src="img/home/home-img-7-full.jpg" alt="">
			</div>			
			<div class="home-post__info">
				<h2 class="home-post__title">Sint, mollitia itaque earum reiciendis</h2>
				<p class="home-post__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, consequatur. Amet repellat similique harum odit id repellendus soluta reiciendis iste, ullam laboriosam quos accusantium possimus, ratione doloribus esse ab ea. Sint, mollitia itaque earum reiciendis tempore ipsum minus!.</p>				
				<ul class="home-post__links">
					<li><a class="home-post__link flickr" href="#"></a></li>			
					<li><a class="home-post__link dribbble" href="#"></a></li>
					<li><a class="home-post__link behance" href="#"></a></li>		
				</ul>
				<a class="home-post__comments" href="#">
					<svg class="home-post__icon">
    					<use xlink:href="svg/sprite.svg#comment-icon"></use>
					</svg>
					5 comments
				</a>
				<a class="home-post__date" href="#">
					<svg class="home-post__icon">
    					<use xlink:href="svg/sprite.svg#calendar-icon"></use>
					</svg>
					<time>Dec 19, 2013</time>
				</a>
			</div>
		</div>
	</div>
</div>

<!-- Post #8 -->
<div class="home-post-wrapper">
	<div class="home-post" id="home-post-8">
		<div class="home-post__content">
			<div class="home-post__img-wrapper">
				<img class="home-post__img" src="img/home/home-img-8-full.png" alt="">
			</div>			
			<div class="home-post__info">
				<h2 class="home-post__title">Lorem ipsum dolor sit amet</h2>
				<p class="home-post__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, a deleniti sequi, ipsum laboriosam placeat, eveniet esse earum accusantium fugiat vero provident animi hic est blanditiis, tenetur perspiciatis tempore.</p>	
				<p class="home-post__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, a deleniti sequi, ipsum laboriosam placeat, eveniet esse earum accusantium fugiat vero provident animi hic est blanditiis, tenetur perspiciatis tempore.</p>			
				<ul class="home-post__links">
					<li><a class="home-post__link flickr" href="#"></a></li>			
					<li><a class="home-post__link dribbble" href="#"></a></li>
					<li><a class="home-post__link behance" href="#"></a></li>		
				</ul>
				<a class="home-post__comments" href="#">
					<svg class="home-post__icon">
    					<use xlink:href="svg/sprite.svg#comment-icon"></use>
					</svg>
					5 comments
				</a>
				<a class="home-post__date" href="#">
					<svg class="home-post__icon">
    					<use xlink:href="svg/sprite.svg#calendar-icon"></use>
					</svg>
					<time>Dec 19, 2013</time>
				</a>
			</div>
		</div>
	</div>
</div>

<!-- Post #9 -->
<div class="home-post-wrapper">
	<div class="home-post" id="home-post-9">
		<div class="home-post__content">
			<div class="home-post__img-wrapper">
				<img class="home-post__img" src="img/home/home-img-9-full.jpg" alt="">
			</div>			
			<div class="home-post__info">
				<h2 class="home-post__title">Quam laborum sunt eligendi harum</h2>
				<p class="home-post__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, veritatis molestiae tenetur.</p>	
				<p class="home-post__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium debitis odit ipsum optio ex excepturi quam, distinctio deleniti eos ducimus, reprehenderit, minima dolores voluptatem ut commodi.</p>				
				<ul class="home-post__links">
					<li><a class="home-post__link flickr" href="#"></a></li>			
					<li><a class="home-post__link dribbble" href="#"></a></li>
					<li><a class="home-post__link behance" href="#"></a></li>		
				</ul>
				<a class="home-post__comments" href="#">
					<svg class="home-post__icon">
    					<use xlink:href="svg/sprite.svg#comment-icon"></use>
					</svg>
					5 comments
				</a>
				<a class="home-post__date" href="#">
					<svg class="home-post__icon">
    					<use xlink:href="svg/sprite.svg#calendar-icon"></use>
					</svg>
					<time>Dec 19, 2013</time>
				</a>
			</div>
		</div>
	</div>
</div>

<!-- Post #10 -->
<div class="home-post-wrapper">
	<div class="home-post" id="home-post-10">
		<div class="home-post__content">
			<div class="home-post__img-wrapper">
				<img class="home-post__img" src="img/home/home-img-10-full.jpg" alt="">
			</div>			
			<div class="home-post__info">
				<h2 class="home-post__title">Lorem ipsum dolor</h2>
				<p class="home-post__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, a deleniti sequi, ipsum laboriosam placeat, eveniet esse earum accusantium fugiat vero provident animi hic est blanditiis, tenetur perspiciatis tempore. Lorem ipsum dolor sit amet, consectetur adipisicing.</p>						
				<ul class="home-post__links">
					<li><a class="home-post__link flickr" href="#"></a></li>			
					<li><a class="home-post__link dribbble" href="#"></a></li>
					<li><a class="home-post__link behance" href="#"></a></li>		
				</ul>
				<a class="home-post__comments" href="#">
					<svg class="home-post__icon">
    					<use xlink:href="svg/sprite.svg#comment-icon"></use>
					</svg>
					5 comments
				</a>
				<a class="home-post__date" href="#">
					<svg class="home-post__icon">
    					<use xlink:href="svg/sprite.svg#calendar-icon"></use>
					</svg>
					<time>Dec 19, 2013</time>
				</a>
			</div>
		</div>
	</div>
</div>

<!-- Post #11 -->
<div class="home-post-wrapper">
	<div class="home-post" id="home-post-11">
		<div class="home-post__content">
			<div class="home-post__img-wrapper">
				<img class="home-post__img" src="img/home/home-img-11-full.jpg" alt="">
			</div>			
			<div class="home-post__info">
				<h2 class="home-post__title">Pariatur, adipisci, modi!</h2>
				<p class="home-post__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, a deleniti sequi, ipsum laboriosam placeat, eveniet esse earum accusantium fugiat vero provident animi hic est blanditiis, tenetur perspiciatis tempore.</p>	
				<p class="home-post__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam odit numquam, nostrum. Quos est dolores explicabo quisquam!</p>			
				<ul class="home-post__links">
					<li><a class="home-post__link flickr" href="#"></a></li>			
					<li><a class="home-post__link dribbble" href="#"></a></li>
					<li><a class="home-post__link behance" href="#"></a></li>		
				</ul>
				<a class="home-post__comments" href="#">
					<svg class="home-post__icon">
    					<use xlink:href="svg/sprite.svg#comment-icon"></use>
					</svg>
					5 comments
				</a>
				<a class="home-post__date" href="#">
					<svg class="home-post__icon">
    					<use xlink:href="svg/sprite.svg#calendar-icon"></use>
					</svg>
					<time>Dec 19, 2013</time>
				</a>
			</div>
		</div>
	</div>
</div>

<!-- Post #12 -->
<div class="home-post-wrapper">
	<div class="home-post" id="home-post-12">
		<div class="home-post__content">
			<div class="home-post__img-wrapper">
				<img class="home-post__img" src="img/home/home-img-12-full.jpg" alt="">
			</div>			
			<div class="home-post__info">
				<h2 class="home-post__title">Lorem ipsum dolor sit</h2>
				<p class="home-post__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, a deleniti sequi, ipsum laboriosam placeat, eveniet esse earum accusantium fugiat vero provident animi hic est blanditiis, tenetur perspiciatis tempore.</p>				
				<ul class="home-post__links">
					<li><a class="home-post__link flickr" href="#"></a></li>			
					<li><a class="home-post__link dribbble" href="#"></a></li>
					<li><a class="home-post__link behance" href="#"></a></li>		
				</ul>
				<a class="home-post__comments" href="#">
					<svg class="home-post__icon">
    					<use xlink:href="svg/sprite.svg#comment-icon"></use>
					</svg>
					5 comments
				</a>
				<a class="home-post__date" href="#">
					<svg class="home-post__icon">
    					<use xlink:href="svg/sprite.svg#calendar-icon"></use>
					</svg>
					<time>Dec 19, 2013</time>
				</a>
			</div>
		</div>
	</div>
</div>

<!-- Post #13 -->
<div class="home-post-wrapper">
	<div class="home-post" id="home-post-13">
		<div class="home-post__content">
			<div class="home-post__img-wrapper">
				<img class="home-post__img" src="img/home/home-img-13-full.jpg" alt="">
			</div>			
			<div class="home-post__info">
				<h2 class="home-post__title">Lorem ipsum dolor</h2>
				<p class="home-post__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos atque, id porro vitae recusandae, non.</p>
				<p class="home-post__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis quod modi, voluptas ab. Atque, vel. Iure repudiandae aliquid accusantium iste?</p>		
				<ul class="home-post__links">
					<li><a class="home-post__link flickr" href="#"></a></li>			
					<li><a class="home-post__link dribbble" href="#"></a></li>
					<li><a class="home-post__link behance" href="#"></a></li>		
				</ul>
				<a class="home-post__comments" href="#">
					<svg class="home-post__icon">
    					<use xlink:href="svg/sprite.svg#comment-icon"></use>
					</svg>
					5 comments
				</a>
				<a class="home-post__date" href="#">
					<svg class="home-post__icon">
    					<use xlink:href="svg/sprite.svg#calendar-icon"></use>
					</svg>
					<time>Dec 19, 2013</time>
				</a>
			</div>
		</div>
	</div>
</div>

<!-- Post #14 -->
<div class="home-post-wrapper">
	<div class="home-post" id="home-post-14">
		<div class="home-post__content">
			<div class="home-post__img-wrapper">
				<img class="home-post__img" src="img/home/home-img-14-full.jpg" alt="">
			</div>			
			<div class="home-post__info">
				<h2 class="home-post__title">Lorem ipsum dolor.</h2>
				<p class="home-post__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam sed consectetur ab qui non dolorem molestias libero delectus rerum facere provident perspiciatis id ipsum, labore itaque amet ea quo, nulla unde nisi nobis animi. Obcaecati magnam, non ullam aut officia repellendus eius?</p>				
				<ul class="home-post__links">
					<li><a class="home-post__link flickr" href="#"></a></li>			
					<li><a class="home-post__link dribbble" href="#"></a></li>
					<li><a class="home-post__link behance" href="#"></a></li>		
				</ul>
				<a class="home-post__comments" href="#">
					<svg class="home-post__icon">
    					<use xlink:href="svg/sprite.svg#comment-icon"></use>
					</svg>
					5 comments
				</a>
				<a class="home-post__date" href="#">
					<svg class="home-post__icon">
    					<use xlink:href="svg/sprite.svg#calendar-icon"></use>
					</svg>
					<time>Dec 19, 2013</time>
				</a>
			</div>
		</div>
	</div>
</div>

<!-- Post #15 -->
<div class="home-post-wrapper">
	<div class="home-post" id="home-post-15">
		<div class="home-post__content">
			<div class="home-post__img-wrapper">
				<img class="home-post__img" src="img/home/home-img-15-full.jpg" alt="">
			</div>			
			<div class="home-post__info">
				<h2 class="home-post__title">Lorem ipsum dolor sit amet, consectetur</h2>
				<p class="home-post__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae ducimus voluptatum laudantium. Quidem quibusdam incidunt et odit expedita repudiandae asperiores, saepe sapiente aliquam dignissimos itaque reprehenderit culpa, cupiditate vitae facilis?</p>				
				<ul class="home-post__links">
					<li><a class="home-post__link flickr" href="#"></a></li>			
					<li><a class="home-post__link dribbble" href="#"></a></li>
					<li><a class="home-post__link behance" href="#"></a></li>		
				</ul>
				<a class="home-post__comments" href="#">
					<svg class="home-post__icon">
    					<use xlink:href="svg/sprite.svg#comment-icon"></use>
					</svg>
					5 comments
				</a>
				<a class="home-post__date" href="#">
					<svg class="home-post__icon">
    					<use xlink:href="svg/sprite.svg#calendar-icon"></use>
					</svg>
					<time>Dec 19, 2013</time>
				</a>
			</div>
		</div>
	</div>
</div>

<!-- Post #16 -->
<div class="home-post-wrapper">
	<div class="home-post" id="home-post-16">
		<div class="home-post__content">
			<div class="home-post__img-wrapper">
				<img class="home-post__img" src="img/home/home-img-16-full.jpg" alt="">
			</div>			
			<div class="home-post__info">
				<h2 class="home-post__title">Lorem ipsum dolor</h2>
				<p class="home-post__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, a deleniti sequi, ipsum laboriosam placeat, eveniet esse earum accusantium fugiat vero provident animi hic est blanditiis, tenetur perspiciatis tempore.</p>				
				<ul class="home-post__links">
					<li><a class="home-post__link flickr" href="#"></a></li>			
					<li><a class="home-post__link dribbble" href="#"></a></li>
					<li><a class="home-post__link behance" href="#"></a></li>		
				</ul>
				<a class="home-post__comments" href="#">
					<svg class="home-post__icon">
    					<use xlink:href="svg/sprite.svg#comment-icon"></use>
					</svg>
					5 comments
				</a>
				<a class="home-post__date" href="#">
					<svg class="home-post__icon">
    					<use xlink:href="svg/sprite.svg#calendar-icon"></use>
					</svg>
					<time>Dec 19, 2013</time>
				</a>
			</div>
		</div>
	</div>
</div>