<div class="info">

	<!-- Info box -->	
	<a class="info-box js-info-box" href="#">
		<span class="info-box__frame">
			<svg class="info-box__icon">
    			<use xlink:href="svg/sprite.svg#info-icon"></use>
			</svg>
		</span>
	</a>	
	
	<!-- Info list -->
	<ul class="info-list js-info-list">
		<li class="info-list__item">
			<svg class="info-list__icon phone">
    			<use xlink:href="svg/sprite.svg#phone-icon"></use>
			</svg>
			<a class="info-list__text" href="tel:9930 1234 5679">9930 1234 5679</a>
		</li>
		<li class="info-list__item">
			<svg class="info-list__icon mail">
    			<use xlink:href="svg/sprite.svg#envelope-icon"></use>
			</svg>
			<a class="info-list__text" href="mailto:contact@domain.com?Subject=Hello%20there">contact@domain.com</a>
		</li>
		<li class="info-list__item">
			<svg class="info-list__icon address">
    			<use xlink:href="svg/sprite.svg#home-icon"></use>
			</svg>
			<span class="info-list__text">street address example</span>
		</li>
	</ul>
</div>
