<div class="menu">

	<!-- Header -->
	<header class="menu-header">

		<!-- Logo -->	
		<div class="menu-logo">
			<div class="menu-logo__items">
				<span class="menu-logo__item first"></span>
				<span class="menu-logo__item second"></span>
				<span class="menu-logo__item third"></span>
			</div>			
			<a class="menu-logo__name" href="index.html">kappe</a>		
		</div>

		<!-- Mobile menu -->
		<div class="menu-mobile js-menu-mobile">
			<span class="menu-mobile__box js-menu-mobile__box"></span>
			<span class="menu-mobile__box js-menu-mobile__box"></span>
			<span class="menu-mobile__box js-menu-mobile__box"></span>
			<span class="menu-mobile__box js-menu-mobile__box"></span>
			<span class="menu-mobile__box js-menu-mobile__box"></span>
			<span class="menu-mobile__box js-menu-mobile__box"></span>
			<span class="menu-mobile__box js-menu-mobile__box"></span>
			<span class="menu-mobile__box js-menu-mobile__box"></span>
			<span class="menu-mobile__box js-menu-mobile__box"></span>
		</div>
	</header>	
	
	<!-- Menu section - navigation, filter & social-media -->
	<div class="menu-section js-menu-section">

		<!-- Navigation -->	
		<nav class="menu-nav js-menu-nav">
			<a class="menu-nav__link js-menu-nav__item_initial" href="index.html">Home</a>	
			<a class="menu-nav__link" href="work.html">Work</a>
			<a class="menu-nav__link" href="about.html">About</a>
			<a class="menu-nav__link" href="blog.html">Blog</a>
			<a class="menu-nav__link" href="404.html">Services</a>
			<a class="menu-nav__link" href="contact.html">Contact</a>
		</nav>		

		<!-- Filter -->
		<div class="menu-filter js-menu-filter">
			<span class="menu-filter__title js-menu-filter__title">Filter</span>
			<nav class="menu-filter__nav js-menu-filter__nav">			
				<button class="menu-filter__nav-item active" data-filter="*">All works</button>
				<button class="menu-filter__nav-item" data-filter=".web-design">web design</button>
				<button class="menu-filter__nav-item" data-filter=".illustration">illustration</button>
				<button class="menu-filter__nav-item" data-filter=".photography">photography</button>
				<button class="menu-filter__nav-item" data-filter=".wallpapers">wallpapers</button>
				<button class="menu-filter__nav-item" data-filter=".brochures">brochures</button>
			</nav>
		</div>	

		<!-- Social-media -->
		<div class="menu-sm">
			<span class="menu-sm__title js-menu-sm__title">Find us</span>
			<ul class="menu-sm__list js-menu-sm__list">
				<li class="menu-sm__list-item"><a class="menu-sm__link flickr" href="#"></a></li>
				<li class="menu-sm__list-item"><a class="menu-sm__link google" href="#"></a></li>
				<li class="menu-sm__list-item"><a class="menu-sm__link twitter" href="#"></a></li>
				<li class="menu-sm__list-item"><a class="menu-sm__link pinterest" href="#"></a></li>
				<li class="menu-sm__list-item"><a class="menu-sm__link dribbble" href="#"></a></li>
				<li class="menu-sm__list-item"><a class="menu-sm__link behance" href="#"></a></li>
				<li class="menu-sm__list-item"><a class="menu-sm__link facebook" href="#"></a></li>
			</ul>
		</div>

		<!-- Copyright -->			
		<span class="menu-copyright">© 2014 Kappe, All Rights Reserved</span>	
	</div>
</div>